In [3]:
import pandas as pd

current_customers = {'Company Name': ['Tesla','Google', 'Meta', 'Apple', 'Amazon'],
                     'Main Contact': ['Elon Musk','Sundar Pichai','Mark Zuckerberg', 
                                       'Tim Cook', 'Jeff Bezos'],
                     'LY Sales': [325000, 275000, 225000, 400000, 350000],
                     'Years of Operation': [4, 3, 5, 2, 1]}

rel_customers = pd.DataFrame.from_dict(current_customers)

In [4]:
rel_customers

  Company Name     Main Contact  LY Sales  Years of Operation
0        Tesla        Elon Musk    325000                   4
1       Google    Sundar Pichai    275000                   3
2         Meta  Mark Zuckerberg    225000                   5
3        Apple         Tim Cook    400000                   2
4       Amazon       Jeff Bezos    350000                   1